* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, san-serif;
  height: 100vh;
  background-color: #282d35;
}

.nav--icon {
  width: 60px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 25px;
  background-color: #21222a;
  height: 90px;
}

.nav-left {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
}

.nav--logo_text {
  color: #61dafb;
  font-weight: 700;
  font-size: 22px;
}

.nav--title {
  color: #deebf8;
  font-weight: 600;
}

main {
  padding: 57px 27px;
  color: white;
  background-image: url(./images/react-icon-large.png);
  background-repeat: no-repeat;
  background-position: right 75%;
}
.main--title {
  margin: 0;
  font-size: 39px;
  letter-spacing: -0.05em;
}

.main--facts {
  margin-top: 46px;
  max-width: 400px;
}

.main--facts > li {
  line-height: 19px;
  padding-block: 10px;
}

.main--facts > li::marker {
  font-size: 1.4rem;
  color: #61dafb;
}
